@model IEnumerable<Metalkit.Models.Usuario>

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade in" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Create</h4>
                    </div>
                    <div class="modal-body">
                        <div id="createContainer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="editContainer">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="deleteContainer">
            </div>
        </div>
    </div>
</div>

<div class="card card-primary">
    <div class="card-header">
        <div class="card-title">
            <i class="fa fa-info-circle"></i> Panel de acciones
        </div>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="form-horizontal">
            <div class="form-group">

                <div class="col-sm-12">
                    <div class="text-right">
                        <p>
                            <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-url="@Url.Action("Create","MantUsuarios")" id="btnAgregar">
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Nuevo Registro
                            </button>
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<div class="panel-body">
    <div class="table-responsive">
        <table class="table" style="width:100%" id="Grilla_Parametro">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>ApellidoPaterno</th>
                    <th>ApellidoMaterno</th>
                    <th>Correo</th>
                    <th>idPerfil</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="theme-switch-wrapper nav-link">
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox">
        <span class="slider round"></span>
    </label>
</div>

@section scripts
{
    <script>
            @{string controller = "MantUsuarios";}
                var url_datatable = '@Url.Action("ObtenerConsultas", controller)';
                var url_edit = '@Url.Action("Edit", controller)';
                var url_delete = '@Url.Action("Delete", controller)';
    </script>

    <script src="~/Core/Js/Usuario.js"></script>
}
