@model Metalkit.Models.Cotizacion
@using Metalkit.Models;

@{
    ViewBag.Title = "Cotizacion Estándar";
    Layout = null;
    List<Producto> lista_productos = new List<Producto>();
    List<Parametro> lista_parametros = new List<Parametro>();
    //lista_productos = ViewBag.lista_productos;
    lista_parametros = ViewBag.lista_parametros;

}

@using (Html.BeginForm("CreateEstandar", "Formularios", FormMethod.Post, new { @class = "form-horizontal", id = "formEstandar", name = "formEstandar", role = "formEstandar" }))
{
    @Html.AntiForgeryToken()

<div class="row">
    <div class="col-md-6">
        <div class="card card-primary card-fijo">
            <div class="card-header">
                <div class="card-title">
                    Productos
                </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body" id="div_grilla_productoSeleccionado">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-primary card-fijo">
            <div class="card-header">
                <div class="card-title">
                    Productos
                </div>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                   <div id="div_grilla_parametros"></div>
            </div>
        </div>
    </div>
</div>

    <div class="card card-primary">
        <div class="card-header">
            <div class="card-title">
                Despacho
            </div>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Fecha Entrega</label>
                <div class="col-lg-10">
                    <div class="input-group date col-md-5">
                        <input type="date" class="form-control" value="03/04/2014">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Tipo Entrega</label>
                <div class="col-lg-10">
                    <div class="i-checks"><label> <input type="radio" value="option1" id="rdTipoEntrega" name="rdTipoEntrega"> <i></i> Retira Cliente </label></div>
                    <div class="i-checks"><label> <input type="radio" value="option2" id="rdTipoEntrega" name="rdTipoEntrega"> <i></i> Despacha Metalkit </label></div>

                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Dirección</label>
                <div class="col-lg-10">
                    <input type="text" placeholder="Dirección" class="form-control" id="tbDireccion" name="tbDireccion">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Región</label>
                <div class="col-sm-10">
                    @Html.DropDownList("iregionEnvio", null, "Seleccione", htmlAttributes: new { @class = "form-control  search-select", @onchange = "CargaComunasEnvio()" })
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-2 col-form-label">Comuna</label>
                <div class="col-sm-10">
                    @Html.DropDownList("icomunaEnvio", null, "Seleccione", htmlAttributes: new { @class = "form-control  search-select" })
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="text-right">
            <button class="btn btn-primary hidden" type="button" id="btnGuardar"><i class="fa fa-check"></i>&nbsp;Guardar</button>
            <button class="btn btn-primary" type="button" onclick="validarClases()" id="b_calcular"><i class="fa fa-edit"></i>&nbsp;Calcular</button>
            <button class="btn btn-default" type="button" id="btnLimpiar" onclick="location.reload();"><i class="fa fa-trash"></i>&nbsp;Limpiar</button>
        </div>
    </div>
    }

    <script type="text/javascript">
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
        });

        $(document).ready(function () {
            var table = $('#grilla_productoSeleccionado').DataTable({
                filter: false,
                orderMulti: false,
                "ordering": false,
                info: false,
                pagingType: "full_numbers",
                paging: false,
                language: datatableIdioma()
            });
            var table = $('#grilla_parametros').DataTable({
                filter: false,
                orderMulti: false,
                "ordering": false,
                info: false,
                pagingType: "full_numbers",
                paging: false,
                language: datatableIdioma()
            });

            var table = $('#grilla_productos').DataTable({
                filter: false,
                orderMulti: false,
                "ordering": false,
                info: false,
                pagingType: "full_numbers",
                paging: false,
                language: datatableIdioma()

            });
        });
       
    </script>
