.error {
    color: red;
}

.gritter-exito{
	background-color: #dff0d8;
	opacity:.95;
  	border: 1px solid transparent;
  	border-color: #d6e9c6;
  	border-radius: 4px;
  	color: #3c763d;
}
.gritter-error{
	background-color: #f2dede;
	opacity:.95;
  	border: 1px solid transparent;
  	border-color: #ebccd1;
  	border-radius: 4px;
  	color: #a94442;
}

.gritter-info{
	background-color: #d9edf7;
	opacity:.95;
  	border: 1px solid transparent;
  	border-color:#bce8f1;
  	border-radius: 4px;
  	color: #31708f;
}

.gritter-warning{
	background-color: #fcf8e3;
	opacity:.95;
  	border: 1px solid transparent;
  	border-color:#faebcc;
  	border-radius: 4px;
  	color: #8a6d3b;
}

.dataTable thead {
    background-color: #a56304;
}

.dataTable thead tr th {
    color:white;
} 

.dataTable tbody tr td{
    padding: 2px !important;
    font-size: 12px !important;
}
.tab-login {
    border: 1px solid #DDDDDD !important;
    padding: 0px 0px !important;
    position: relative !important;

}

.dataTable tbody .group {
    background-color: rgba(255, 235, 205, 0.43) !important;
    height: 2.8em !important;
    font-weight: bold !important;
}