body, html, a, nav-link, .modal {
    font-family: 'BrownLight Regular' !important;
    font-size: 14px !important;
}

.card-title {
    float: left;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
    font-family: 'Brown Bold';
}

/*div .modal-dialog-xl {
    width: 90% !important;
    margin: 1em 10em !important;
}

.modal-xl {
    width: 90% !important;
}*/

/*table thead {
    background-color: #1c84c6 !important;
    color: white !important;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    background-color: #1c84c6 !important;
}*/

label {
    margin-bottom: 2px !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #e5e6e7 !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 26px;
    padding-left:0px;
}

.form-control {
    border-radius: 4px;
}

.check-box {
    width: 20px !important;
    height: 20px !important;
    position: relative !important;
    top: 5px !important;
}

.p-0 {
    padding: 0;
}

.colorRojo {
    color: #FFFFFF !important;
    background-color: red !important;
}

dl {
    margin-bottom: 5px !important;
}

.label-verdes, .badge-verdes {
    background-color: #3D9400 !important;
    border-color: #3D9400 !important;
}

/*
.nav > li.active {
    border-left: 4px solid #1b7ebd !important;
}*/

/*.modal-body {
    padding: 0px 30px 0 30px !important;
}

.modal-footer {
    margin-top: 20px !important;
}*/

.panelContribuyente {
    padding-top: 0px !important;
    margin-top: -30px !important;
}


/*.wizard > .steps > ul > li {
    width: 15% !important;
}*/

.wizard li {
    width: auto !important;
}

.position-relative {

    position: relative !important;
}
/*** BUTTON CHECK VIGENTE (SI/NO) ***/
.Vigente-button + input + label:before {
    background-color: #de2b2b;
    border-radius: 50%;
    color: #ffffff;
    content: 'NO';
    display: block;
    font-size: 0.8em;
    height: 2rem;
    left: 0;
    line-height: 2em;
    position: relative;
    text-align: center;
    transition: all 0.3s;
    width: 2rem;
    margin-top: 8px;
}

.Vigente-button + input + label {
    background-color: rgba(222, 43, 43, 0.5);
    border-radius: 1rem;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: block;
    height: 2rem;
    margin: 0 auto;
    margin-left: 0;
    transition: all 0.3s;
    width: 4rem;
}

.Vigente-button:checked + input + label:before {
    background-color: #069406;
    content: 'SI';
    left: 2rem;
}

.Vigente-button:checked + input + label {
    background-color: rgba(6, 148, 6, 0.5);
}

.Vigente-button:disabled + input + label {
    /*background-color: rgb(100, 189, 99);
    border-color: rgb(100, 189, 99);
    box-shadow: rgb(100, 189, 99) 0px 0px 0px 16px inset;*/
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
    opacity: 0.6;
    
    
}

/**/
.Vigente-button2 + input + label:before {
    background-color: #de2b2b;
    border-radius: 50%;
    color: #ffffff;
    content: 'NO';
    display: block;
    font-size: 0.8em;
    height: 2rem;
    left: 0;
    line-height: 2em;
    position: relative;
    text-align: center;
    transition: all 0.3s;
    width: 2rem;
    margin-top: 0px;
}

.Vigente-button2 + input + label {
    background-color: rgba(222, 43, 43, 0.5);
    border-radius: 1rem;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: block;
    height: 2rem;
    margin: 0 auto;
    margin-left: 0;
    transition: all 0.3s;
    width: 4rem;
}

.Vigente-button2:checked + input + label:before {
    background-color: #069406;
    content: 'SI';
    left: 2rem;
}

.Vigente-button2:checked + input + label {
    background-color: rgba(6, 148, 6, 0.5);
}

.Vigente-button2:disabled + input + label {
   
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
    opacity: 0.6;
}


.inputCombinados {
    padding: 0px 0px;
}

.clients-list .tab-pane {
    height: auto !important;
}

.client-detail {
    height: auto !important;
}

.navbar-right {
    margin-right: 0px;
}

.texto-right {
    text-align: right !important;
}

.texto-left {
    text-align: left !important;
}

.texto-center {
}

.tablaSecundaria thead {
    background-color: #e8ebed !important;
    color: #676a6c !important;
}

.btn-desactivado {
    background-color: #676a6c;
    border-color: #636563;
    color: #f4f9f9 !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pr-0 {
    padding-right: 0px !important;
}

.titulo_Boton {
    font-size: 0.8em !important;
}

.sub_titulo_Boton {
    font-size: 0.6em !important;
    text-transform: none !important;
}

.dim {
    margin-bottom: 0px !important;
}

.boton_principal {
    min-width: 160px !important;
}

button.btn-success.dim {
    box-shadow: inset 0 0 0 #49924A, 0 5px 0 0 #49924A, 0 10px 5px #999;
}
input.error {
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

.label.error {
    float: none;
    color: red;
    padding-left: .5em;
    vertical-align: middle;
    font-size: 12px;
}

.btn-danger.btn-outline[disabled] {
    background-color: #d4d2d2;
    border-color: #ef6776;
}

.btn-danger.btn-outline[disabled]:hover {
    color: #ef6776;
}

.btn-primary.btn-outline[disabled] {
    background-color: #d4d2d2;
    border-color: #1f90d8;
}
.btn-primary.btn-outline[disabled]:hover {
    color: #1872ab;
}
.btn-success.btn-outline[disabled] {
    background-color: #d4d2d2;
    border-color: #49924A;
}

.ml-2 {
  margin-left: 2px;
}
.ml-1 {
    margin-left: 1px;
}
.mr-1 {
    margin-right: 1px;
}
.mr-2 {
    margin-right: 2px;
}

.mt-1 {
    margin-top: 1em !important;
}
.mt-2 {
    margin-top: 2em !important;
}
.mt-3 {
    margin-top: 3em !important;
}
.mt-4 {
    margin-top: 4em !important;
}
.mt-5 {
    margin-top: 5em !important;
}


.iconoTitulo {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #1c84c6;
    font-size: 27px !important;
    padding-right: 10px;
}

.rounded-circle {
    border-radius: 50% !important;
}
.product-desc {
   padding: 0px;
}
.product-desc.product-price {
    color: #ffffff;
}

.product-imitation {
    text-align: center !important;
    padding: 5px 5px !important;
    max-height: 150px !important;
}

.dim {
    margin-bottom: 5px !important;
}

.rut-error {
    color: red;
    padding-left: 5px;
}
.form-group {
    margin-bottom: 7px !important;
}
.input-destacado {
    background-color: #1872ab !important;
    color: white !important;
}

/*hr {
    border-top: ridge !important;
}
*/


.blue-bg, .bg-success[readonly] {
    background-color: #499249 !important;
    color: #ffffff !important;
}


.red-bg, .bg-danger[readonly] {
    background-color: #ED5565 !important;
    color: #ffffff !important;
    
}
.yellow-bg, .bg-warning[readonly] {
    background-color: #f8ac59 !important;
    color: #ffffff !important;
}

.seleccionImg {
    color: white !important;
}
.card-fijo {
    min-height: 335px;
}
/*table thead {
    background-color: #1c84c6 !important;
    color: white !important;
}*/
.oculto {
    display: none;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    /*background-color: #1c84c6 !important;*/
}


.table-head {
    background: #f6f9fe !important;
    color: #335f90 !important;
    font-weight: 600 !important;
    text-transform: uppercase;
}

.btn-link-tabla {
    font-weight: 400;
    color: #007bff;
    text-decoration: none;
    padding: 0rem 0rem;
    border: 0px solid transparent;
}

.table-gral {
    border: #dfdfdf;
    background: #f6f9fe;
    text-align: center;
}

.table-sm {
    padding: 0rem 0rem;
}

.table-chica td, .table-chica th {
    padding: .1rem
}


/*.table tr td:nth-child(1), .table th:nth-child(1) {
    display: none;
}*/